<%= simple_form_for @set do |f| %>
  <%= f.text_field :name, placeholder: 'Set Name', style: 'width:100%'%>
  <%= f.input :description, label: 'Set Description', as: :rich_text_area %>

  <hr>

  <h3>Terms</h3>

  <div id='card-items'>
    <%= f.simple_fields_for :cards do |card| %>
      <%= render 'card_fields', form: card %>
    <% end %>
  </div>

  <%= link_to_add_nested(f, :cards, '#card-items', link_text: 'Add Term', link_classes: 'btn btn-success') %>

  <br>
  <br>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Back to All Sets', card_sets_path, class: 'btn btn-secondary' %>
<% end %>