<%= simple_form_for @set do |f| %>
  <h3>Set Name</h3>
  <h3><%= f.input_field :name, placeholder: 'Give it a title...', style: 'width:100%'%></h3>
  <br>
  <h4>Set Description</h4>
  <%= f.input :description, label: false, placeholder: 'Describe your set...', as: :rich_text_area %>

  <hr>

  <h3>Terms</h3>

  <div id='card-items'>
    <%= f.simple_fields_for :cards do |card| %>
      <%= render 'card_fields', form: card %>
    <% end %>
  </div>

  <br>

  <%= link_to_add_nested(f, :cards, '#card-items', link_text: 'Add Term', link_classes: 'btn btn-success') %>

  <br>
  <br>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', @set.persisted? ? card_set_path : card_sets_path, class: 'btn btn-secondary' %>
<% end %>