<div class="row">
  <div class="col">
    <h1>All Sets</h1>
    <br>
    <% if @sets.empty? %>
      <p>There are no sets yet. Be the first to create one!</p>
      <br>
    <% else %>
      <% @sets.each do |set| %>
        <div class="card px-2 py-2">
          <a class="card-block stretched-link text-decoration-none" href="<%= card_set_url(set.slug) %>">
            <h2 class="card-title"><%= set.name %></h2>
            <br>
            <p class="card-subtitle"><%= set.description %></p>
          </a>
        </div>
        <br>
      <% end %>
    <% end %>
    <%= link_to 'New Set', new_card_set_path, class: 'btn btn-primary' %>
    <%= link_to 'Main Page', root_path, class: 'btn btn-primary' %>
    <br>
  </div>
</div>