<% content_for :title do %>
  All Sets
<% end %>

<div class="row">
  <div class="col">
    <br>
    <h1>All Sets</h1>
    <br>
    <% if @sets.empty? %>
      <p>There are no sets yet. Be the first to create one!</p>
      <br>
    <% else %>
      <% @sets.each do |set| %>
        <div class="card px-2 py-2 shadow p-3 mb-4 bg-white rounded card-index">
          <a class="card-block stretched-link text-decoration-none" href="<%= card_set_url(set.slug) %>">
            <div class="title">
              <h2 class="card-title"><%= set.name %></h2>
              <p class="text-secondary" style="margin-right: 10px;"><%= set.cards.length %> Term(s)</p>
            </div>

            <% if set.description.empty? %>
              <p class="card-subtitle" style="font-style: italic;">No description<%= set.description %></p>
            <% else %>
              <p class="card-subtitle"><%= set.description %></p>
            <% end %>
          </a>
        </div>
        <br>
      <% end %>
    <% end %>

    <%= paginate @sets %>

    <br>
  </div>
</div>