<h1>View Set</h1>
<h2><%= @set.name %></h2>
<h3><%= @set.description %></h3>
<h2>TERMS</h2>
<h3>
  <% @set.cards.each do |card| %>
    <p>
      <%= card.term %>
      <%= card.definition %>
    </p>
  <% end %>
</h3>
<%= button_to 'Delete Set', @set, method: :delete %>
<%= link_to 'Download Set', download_card_set_path(@set)%>
<%= link_to 'Edit Set', edit_card_set_path(@set) %>
<%= link_to 'New Set', new_card_set_path %>
<%= link_to 'Main Page', root_path %>
<br>
<br>
<%= link_to 'Learn', card_set_learn_path(@set.friendly_id) %>
<%= link_to 'Review', card_set_review_path(@set.friendly_id) %>
<%= link_to 'Study', card_set_study_path(@set.friendly_id) %>