<div class="row">
  <div class="col">
    <h1><%= @set.name %></h1>
    <h5><%= @set.description %></h5>
    <hr>

    <h3>Activities</h3>

    <h5>Long Term Memory</h5>
    <%= link_to 'Learn', card_set_learn_path(@set.friendly_id), class: 'btn btn-primary' %>
    <%= link_to 'Review', card_set_review_path(@set.friendly_id), class: 'btn btn-primary' %>
    <br>
    <br>

    <h5>Short Term Memory</h5>
    <%= link_to 'Study', card_set_study_path(@set.friendly_id), class: 'btn btn-primary' %>
    <br>

    <hr>

    <h3>TERMS (<%= @set.cards.length %>)</h3>
    <br>

    <% @set.cards.each do |card| %>
      <div class="card px-2 py-2">
        <div class="row">
          <p class="col-md-6"><%= card.term %></p>
          <p class="col-md-6"><%= card.definition %></p>
        </div>
      </div>
      <br>
    <% end %>

    <hr>

    <%= button_to 'Delete Set', @set, method: :delete, class: 'btn btn-danger' %>
    <%= link_to 'Edit Set', edit_card_set_path(@set), class: 'btn btn-warning' %>
    <%= link_to 'New Set', new_card_set_path, class: 'btn btn-primary' %>
    <%= link_to 'Explore Sets', card_sets_path, class: 'btn btn-primary' %>
    <%= link_to 'Main Page', root_path, class: 'btn btn-primary' %>
    <br>
    <br>

  </div>
</div>