<h1>View Set</h1>
<h2><%= @set.name %></h2>
<h3><%= @set.description %></h3>
<%= link_to 'Edit Set', edit_card_set_path(@set) %>
<%= link_to 'New Set', new_card_set_path %>
<%= link_to 'Main Page', root_path %>